@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #12ADC1;
    --width-break: 600px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary)
}

nav {
    background-color: var(--darker);
    text-align: center;
    background-color: #FDD037;
}

#heading {
    font-size: 2.5rem;
    padding: 1rem;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Arvo', serif;
    font-size: large;
    background-color: #FDD037;
}

#output {
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    max-height: 80vh;
    overflow: scroll;
    border: 1px solid white;
    color: black;
    background-color: white;
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 1rem;
    background-color: #FDD037;
    font-family: inherit;
}

#about {
    font-size: 2rem;
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
    font-style: italic;
}